* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../image/fondo_inicio.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navegador {
    display: flex;
    background-color: #333;
    top: 0;
    position: sticky;
    align-items: center;
    justify-content: space-around;
}

.navegador_int {
    display: flex;
    flex-direction: row;
    flex: 60%;
    justify-content: flex-start;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 20%;
}

.logo img {
    width: 80px;
    height: 50px;
}

a {
    text-decoration: none;
    color: white !important;
    font-size: 20px;
    text-align: center;
}

.logout {   
    align-items: center;
    justify-content: flex-end;
    margin-right: 5%;
}

.contenido {
    display: flex;
    min-height: calc(100vh - 40px);    
}

.filtrar {
    background-color: #333;
    margin: 20px;
    width: 20%;
    height: 100%;
    border-radius: 10px;
    padding: 5px;
}

h2 {
    color: white;
    font-family: sans-serif;
}

li {
    list-style: none;
    margin-left: 3%;
}

label {
    display: block;
    color: white;
    color: #fff;
    background-color: rgba(0,0,0, 0.3) !important;
    border-color: #1177d1;
    cursor: pointer;
}

#btn_busqueda {
    box-shadow: 1px 1px 1px #bee2f9;
    color: #fff;
    background-color: rgba(0,0,0, 0.3);
    border-color: #1177d1;
    cursor: pointer;
    width: 100%;
    margin: 0;
    font-size: 16px;

}

input {
    text-align: center;
    margin: 8px;
    font-size: 16px;
    border: 1px solid white;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 7px;
}


/* Bloque de anuncios */

.bloq_anuncios {
    margin: 20px;
    width: 100%;
}

.footer {
    padding: 20px;
    text-align: center;
    background-color: #333;
}

#li1:hover {
    background-color: black;
    color:white;
}
#li2:hover {
    background-color: black;
    color:white;
}
#li3:hover {
    background-color: black;
    color:white;
}
#li4:hover {
    background-color: black;
    color:white;
}